@{
    ViewData["Title"] = "Home Page";
}

<div>
   <h1>Enter a Card Name</h1> 
   <form method="post">
       <input type="text" name="cardName" />
       <input type="submit" value="Submit me!" />
   </form>
</div>
@if (ViewBag.results != null)
{
    <div>
        <ul>
            @foreach (var result in ViewBag.results)
            {
                <li>@result.Name<img src="@result.ImageUrl" height="360" width="240" /></li>
            }
        </ul>
    </div>
}